.svgbox {
    --blue: rgb(148, 66, 63);
    stroke: var(--blue);
    stroke-width: 5;
    fill: none;
    stroke-dasharray: 50, 14;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
    72.5% {
        opacity: 1;
    }

    to {
        stroke-dashoffset: 1;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(168, 168, 168);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.navbar-hide {
    transform: translateX(-100%);
}
